<h3>qf libraries</h3>

<div class="cards">
  <qf-card>
    <qf-card-header>Pt Card</qf-card-header>
    This is pt-card 
    <qf-card-footer>Footer</qf-card-footer>
  </qf-card>
</div>


 <qf-toggle [size]="size"></qf-toggle>

 <div class="tooltip-container">
   <span [position]="position" qf-tooltip="Complete pre-autorization before scheduling">tooltip</span>
 </div>
  
  



<router-outlet></router-outlet>
