/* You can add global styles to this file, and also import other style files */
@import "~ngx-ui-switch/ui-switch.component.scss";

body {
  padding: 2rem;
}

.card {
  font-family: sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 4px #767c9d;
  border: 0;
  padding: 0.5rem;
}

qf-card-header {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #002a92;
  margin: 0 0 10px 0;
}

qf-card-footer {
  font-size: 12px;
  margin: 10px 0;
  color: #a7c2ff;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.qf-switch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  outline: none;

}

.__status {
  font-size: 12px;
  font-weight: 300;
  padding: 0 7px 0 0;
}

